body {
    background:lightblue;
}

h1 {
    font-size: 50px;
    text-align: center;
    /*font-family: 'Bowlby One', cursive;*/
    font-family: 'Gloria Hallelujah', cursive;
    text-shadow: 2px 2px 5px grey;
}

#animalText {
    font-family: 'Gloria Hallelujah', cursive;
    text-shadow: 2px 2px 5px grey;
}


.topicButton, #submitButton {
    margin-right: 10px;
    margin-bottom: 10px;
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 9.5px 19px;
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
   border-radius: 15px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 18px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }
#gifs-appear-here {
    float: left;
}

.imageBox {
    /*float:left;*/
    margin:20px;
    /*display: block;*/
    display: inline-block;
}

